$shade-1: #ccc;

@mixin sidepadding {
  padding: 0 29px;
}

@mixin reset {
  all: initial;
  * {
    all: unset;
  }
}

@mixin font {
  font-family: 'Work Sans', sans-serif;
}

body {
  font-family: 'Work Sans', sans-serif;
}
